/* SUMMARY
    1. GLOBAL
    2. LAYOUT
    3. SECTIONS
*/

/*** 1. GLOBAL ***/

/* Reset / Normalize ============================= */

@import url("normalize.css");

/* Variables ============================= */

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #ff6565;
  --color-light-grey: #979797;
  --color-dark-blue: #071629;

  --text-color: var(--color-white);

  --font-family-base: "Source Sans Pro", sans-serif;
  --font-family-title: "Spin Cycle OT", "Helvetica Neue", Helvetica, Arial,
    sans-serif;

  --font-size-xs: 1.2rem;
  --font-size-sm: 1.4rem;
  --font-size-md: 1.6rem;
  --font-size-ml: 1.8rem;
  --font-size-lg: 3.2rem;
  --font-size-xl: 4.6rem;

  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-regular: 400;
}

/*** 2. LAYOUT ***/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

.text--black {
  color: var(--color-black);
}

.text--white {
  color: var(--color-white);
}

/*** 3. SECTIONS ***/

/* Header ============================= */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 9rem;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger__checkbox {
  position: absolute;
  margin-top: 1rem;
  left: 2.1rem;
  width: 2rem;
  height: 1.4rem;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}

.hamburger {
  position: absolute;
  left: 2.1rem;
  width: 2rem;
  height: 1.4rem;
}

.hamburger__line {
  display: block;
  background-color: var(--color-white);
  border-radius: 0.2rem;
  width: 2rem;
  height: 0.2rem;
}

.hamburger__line:first-child {
  transform: translate(0, -0.4rem);
  transform-origin: 35% 50%;
  transition: transform 0.4s ease-in-out;
}

.hamburger__line:nth-child(2) {
  width: 1.3rem;
  transform-origin: 0% 0%;
  transition: transform 0.2s ease-in-out;
}

.hamburger__line:last-child {
  transform: translate(0, 0.4rem);
  transform-origin: 35% 50%;
  transition: transform 0.4s ease-in-out;
}

.hamburger__checkbox:checked ~ .hamburger .hamburger__line:first-child {
  transform: translate3d(0, 0, 0) rotate(45deg);
}

.hamburger__checkbox:checked ~ .hamburger .hamburger__line:nth-child(2) {
  transform: translate3d(0, 0, 0) scale(0, 1);
}

.hamburger__checkbox:checked ~ .hamburger .hamburger__line:last-child {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.logo__img {
  height: 3.2rem;
}

.nav__menu {
  display: flex;
}

.nav__link {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xs);
  text-decoration: none;
  color: var(--color-white);
}

.nav__link:hover,
.nav__link:active {
  color: var(--color-primary);
}

/* Header media queries */

@media screen and (min-width: 769px) {
  .nav {
    padding: 2.8rem 0;
    width: 100rem;
  }

  .hamburger__checkbox {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .nav__menu {
    flex-direction: row;
    justify-content: space-between;
    width: 25.5rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .nav {
    padding: 2.8rem 0;
    width: 63.3rem;
  }

  .hamburger__checkbox {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .nav__menu {
    flex-direction: row;
    justify-content: space-between;
    width: 25.5rem;
  }
}

@media screen and (max-width: 480px) {
  .nav {
    margin-top: 2.8rem;
    width: 100vw;
    height: fit-content;
    padding-left: 2.1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .hamburger__checkbox {
    display: block;
  }

  .hamburger {
    margin-top: 1.4rem;
    display: block;
  }

  .nav__menu {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    width: 16.1rem;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-3rem);
    transition: transform, 0.4s, visibility 0.4s, opacity 0.4s ease-in-out;
  }

  .hamburger__checkbox:checked ~ .nav__menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0rem);
  }

  .nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: 100%;
  }
}

/* Hero ============================= */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container--hero {
  background-image: url("../images/headphones_hero_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 80rem;
  max-height: 80rem;
}

.container__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__title {
  font-family: var(--font-family-base);
  font-size: var(--font-size-lg);
  line-height: 4rem;
  text-align: center;
  margin: 0;
}

.container__title--bold {
  font-weight: var(--font-weight-bold);
}

.container__subtitle {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-md);
  line-height: 2rem;
  text-align: center;
  color: var(--color-white);
  margin: 0;
}

.container__cta {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-sm);
  font-variant: small-caps;
  text-decoration: none;
  color: var(--color-white);
  margin-top: 4rem;
  width: 16.2rem;
  height: 4.4rem;
  border-radius: 2.2rem;
  background-color: var(--color-primary);
  filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
}

.container__cta:hover,
.container__cta:active {
  opacity: 0.9;
}

.container__text {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-md);
  line-height: 2.6rem;
  text-align: center;
  margin-bottom: 0;
}

.container__text--hero {
  margin-top: 6.5rem;
}

.container__text--white {
  color: var(--color-white);
}

/* Hero media queries */

@media screen and (min-width: 769px) {
  .container__content--hero-mt {
    margin-top: 37.2rem;
  }

  .container__content--center {
    max-width: 63.7rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container__content--hero-mt {
    margin-top: 37.2rem;
  }

  .container__content--center {
    padding: 0 6.6rem;
  }
}

@media screen and (max-width: 480px) {
  .container--hero {
    background-position: 34% 38%;
    background-size: calc(140rem * 1.15) calc(80rem * 1.15);
  }

  .container--hero::after {
    position: absolute;
    top: 0;
    content: "";
    background-color: var(--color-black);
    width: 100vw;
    height: 86.9rem;
    z-index: -1;
  }

  .container__content--hero-mt {
    margin-top: 32.7rem;
  }

  .container__content--center {
    padding: 0 0.9rem;
  }

  .container__subtitle {
    margin-top: 0.5rem;
    padding: 0 3.9rem;
  }

  .container__cta {
    margin-top: 2rem;
  }

  .container__text {
    padding: 0 1.1rem;
  }
}

/* What we do... ============================= */

.container__title--sb {
  font-weight: var(--font-weight-semibold);
}

.container__title--mt {
  margin-top: 11rem;
}

.container__text--black {
  color: var(--color-black);
}

.container__text--wwd {
  margin-top: 4rem;
  margin-bottom: 9.7rem;
}

.container__features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container__features--wwd {
  column-gap: 5.8rem;
  row-gap: 9.6rem;
  margin-bottom: 11rem;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20.7rem;
}

.feature__icon {
  font-size: 10rem;
  color: var(--color-primary);
}

.feature__title {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-ml);
  line-height: 2.6rem;
  text-align: center;
  margin: 0;
  margin-top: 0.5rem;
  width: 20.7rem;
}

.feature__text {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-sm);
  line-height: 2.6rem;
  text-align: center;
  margin: 0;
  margin-top: 1.3rem;
  width: 20.7rem;
}

/* Results ============================= */

.container__text--results {
  margin-top: 4rem;
  margin-bottom: 7.6rem;
}

.container__features--results {
  column-gap: 7.6rem;
  row-gap: 4.2rem;
  margin-bottom: 7.114rem;
}

.container--results {
  background-image: url("../images/headphones_hero_2.jpg");
  background-repeat: no-repeat;
  background-size: 140rem 80rem;
}

.feature--results {
  background-image: url("../images/pentagone.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 19rem 19rem;
  width: 19rem;
  height: 19rem;
}

.feature__amount {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xl);
  text-align: center;
  margin: 0;
  margin-top: 3rem;
}

/* Results media queries */

@media screen and (min-width: 456px) and (max-width: 987px) {
  .container--results {
    background-position: 55% -10%;
    height: 87.6rem;
  }

  .container--results-bg {
    display: block;
    position: absolute;
    background-color: var(--color-black);
    width: 100vw;
    z-index: -1;
    height: 87.6rem;
  }
}

@media screen and (max-width: 455px) {
  .container--results {
    background-position: 35% -10%;
    height: 149.1rem;
  }

  .container--results-bg {
    display: block;
    position: absolute;
    background-color: var(--color-black);
    width: 100vw;
    z-index: -1;
    height: 149.1rem;
  }
}

/* Contact us ============================= */

.container--form {
  height: 61.3rem;
}

.form {
  width: 33.5rem;
}

.form__fields {
  display: flex;
  flex-direction: column;
  row-gap: 4.5rem;
  border: none;
  margin-top: 5.6rem;
}

.form__field {
  margin-top: 0.5rem;
  border-bottom: 0.1rem solid var(--color-light-grey);
}

.form__field_label {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-sm);
}

.form__input {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-sm);
  line-height: 1rem;
  box-shadow: none;
  border: none;
  outline: 0;
  width: 100%;
}

.form__submit {
  border: none;
  filter: none;
}

.form__help {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xs);
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.form__group:focus-within .form__help {
  max-height: 20rem;
  margin: 0.4rem 0 0;
}

.form__input:required:valid ~ .form__help {
  max-height: 0;
}

/* Footer ============================= */

.footer {
  background-color: var(--color-dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
  height: 24.9rem;
}

.footer__logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.social {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  list-style: none;
}

.social__link {
  text-decoration: none;
  color: var(--color-white);
}

.social__logo {
  font-size: 3rem;
}

.footer__copyright {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xs);
  color: var(--color-white);
  margin: 0;
}

/* Footer media queries */

@media screen and (min-width: 769px) {
  .footer__logos {
    flex-direction: row;
    max-width: 100rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer__logos {
    flex-direction: row;
    max-width: 66.8rem;
  }
}

@media screen and (max-width: 480px) {
  .footer__logos {
    flex-direction: column;
    row-gap: 4.5rem;
  }
}
